main {
    width: 80%;
    margin: 0 auto;
}

.select-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.select-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.left-group {
    display: flex;
}

.select-content-container {
    margin-top: 50px;
    border: 1px solid black;
}

