<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duck.myboard.mapper.CommentsMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (author, content, board_id, parent_id)
        VALUES (#{author}, #{content}, #{boardId}, #{parentId})
    </insert>

    <select id="findByBoardId" resultType="com.duck.myboard.domain.User">
        SELECT * FROM comments WHERE board_id = #{boardId}
    </select>
</mapper>

