<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duck.myboard.mapper.ImageMapper">
    <insert id="save" useGeneratedKeys="true">
        INSERT INTO images (board_id, origin_name, unique_name, image_path)
        VALUES (#{boardId}, #{originName}, #{uniqueName}, #{imagePath})
    </insert>

    <insert id="saveAll" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO images (board_id, origin_name, unique_name, image_path)
        VALUES
        <foreach collection="list" item="image" separator=",">
            (#{image.boardId}, #{image.originName}, #{image.uniqueName}, #{image.imagePath})
        </foreach>
    </insert>

    <select id="pathFindByBoardId" resultType="java.lang.String">
        SELECT image_path
        FROM images
        WHERE board_id = #{boardId}
    </select>

    <delete id="deleteByBoardIdAndPath">
        DELETE FROM images
        WHERE board_id = #{boardId}
        AND image_path IN
        <foreach item="path" collection="deletePath" open="(" separator="," close=")">
            #{path}
        </foreach>
    </delete>

    <delete id="deleteByBoardId">
        DELETE FROM images
        WHERE board_id = ${boardId}
    </delete>


</mapper>