<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duck.myboard.mapper.UserMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER (name, email, password)
        VALUES (#{name}, #{email}, #{password})
    </insert>

    <select id="findAll" resultType="com.duck.myboard.domain.User">
        SELECT * FROM USER
    </select>
</mapper>

